.constrain {
}

#Modal-Con.constrain {
    padding: 0 30px 0 30px;
    width: 100%;
    box-sizing: border-box;
}

.header > .logo {
    margin-left: 30px;
}

.info {
    margin-top: 50px;
}

.portItem {
    max-width: 32%;
    padding: 0;
}