.constrain {
    padding: 0 30px 0 30px;
}

#Modal-Con.constrain {
    padding: 0 30px 0 30px;
    width: 100%;
    box-sizing: border-box;
}

.header > .logo {
    margin-left: 30px;
}

.footer > a {
    margin-left: 30px;
}

.port-buttons {
    position: absolute;
    right: 0;
    top: 30px;
}

.port {
    padding-bottom: 90px;
}

.info {
    margin-top: 50px;
}

.portItem {
    max-width: 32%;
}