.constrain {
    padding: 0 30px 0 30px;
    width: 100%;
    box-sizing: border-box;
}

.lp, .rp {
    padding: 0;
}

.footer {
    display: none;
}

.page {
    padding-bottom: 180px;
    padding-top: 30px;
}

.page > .flex, .port > .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.icon-con {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.resume > .res-abt-sec:first-child {
    height: 350px;
    margin-top: -95px;
}


.resume-nav h1 {
    margin-top: -25px;
}

.icon-link-con {
    position: absolute;
    left: 30px;
    top: 240px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 40%;
}

.resume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.resume > .c1, .resume > .c2 {
    width: 100%;
    max-width: 100%;
}

.rec-card {
    position: relative;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.rec-card:before {
    position: absolute;
    content: "•";
    top: 30px;
    left: 10px;
}

/* Header */
.header {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 -2px 0px rgba(0,0,0,.2);
    z-index: 100;
}

.logo {
    display: none;
}

.header > a:last-child {
    position: fixed;
    /*left: 50%;*/
    right: 0;
    width: 50%;
    bottom: 60px;
    padding-top: 2px;
    margin: 0;
    top: auto;
    /*-webkit-transform: translateX(-50%);
    transform: translateX(-50%);*/
    z-index: 100;
    border-radius: 0;
}

.header a {
    width: 25%;
    text-align: center;
    padding: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* Left And Right */

#LeftArrow, #RightArrow {
    position: fixed;
    min-height: 0;
    height: 60px;
    top: inherit;
    width: 50%;
    min-width: 100px;
    max-width: none;
    background-color: #282828;
    text-align: center;
    color: white;
    font-size: 3em;
    margin-top: -15px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 100;
    bottom: 60px;
}

#LeftArrow {
    left: 0;
}

#RightArrow {
    right: 0;
}

#LeftArrow > div, #RightArrow > div {
    position: absolute;
    text-decoration: none;
    color: white;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-55%) translateX(-50%);
    transform: translateY(-55%) translateX(-50%);
}

#LeftArrow:hover, #RightArrow:hover {
    background-color: #5F5F8A;
}

/*portfolio*/

.intro-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
    
.portCon {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.port-item {
    width: 100%;
    margin: 0px;
    padding: 0;
    padding-top: 30px;
}

#Modal-Con > .port-item {
    padding-bottom: 190px;
}

.portItem {
    max-width: 48%;
}

.title > .cta.title-side {
    margin-top: 30px;
}

.port-item > .infocon > img {
    margin: auto;
}

.port-item > .infocon {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.port {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding-bottom: 190px;
}

/* New Modal */
.newModal {
    width: 100%;
}

.newModal > .c1, .newModal > .c2 {
    width: 100%;
}

.newModal > .c2 {
    padding: 0;
}

/* Admin Dashboard */
.dash-but {
    margin-bottom: 15px;
}