/*****Color Guide********/
/*Focus #0CCE6B
/*Hover #4DA167
/*Input def #4E6E5D
/*Black #343434
/*Easy read #FFFCF7
/********************/

/**Forms**/
* {
    -webkit-transition: all 200ms;
    transition: all 200ms;
    -webkit-transition-timing-function: cubic-bezier(.8,.75,.39,1.25);
    transition-timing-function: cubic-bezier(.8,.75,.39,1.25);
}

input[type=text], textarea, input[type=password] {
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #4E6E5D;
    padding-top: 10px;
    background-color: transparent;
}

input[type=text]:hover, textarea:hover, input[type=password]:hover {
    border-color: #4DA167;
}

input[type=text]:focus, textarea:focus, input[type=password]:focus {
    border-color: #0CCE6B;
}

/**Basics for Base.html**/
.constrain {
    max-width: 940px;
    width: 100%;
    min-width: 200px;
    background-color: #FFFCF7;
}

.highlight {
    background-color: #FFFCF7;
    width: 140px;
    height: 30px;
    padding: 15px 10px 5px 10px;
    text-align: center;
}

.title {
    border-bottom: 3px solid black;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #343434;
    margin: 0px;
}

.blog {
    position: relative;
    max-width: 940px;
    width: 100%;
    min-width: 200px;
    background-color: #FFFCF7;
    padding: 30px;
    box-sizing: border-box;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    background-color: #5E7B6B;
}

.nav {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav > a {
    height: 50px;
    width: auto;
    max-width: 150px;
    box-sizing: border-box;
    padding: 14px 10px 15px 10px;
    color: white;
    text-decoration: none;
}

.nav > .activeBut {
    background-color: #0CCE6B;
    color: #343434;
    font-weight: 600;
}

.nav > a:hover {
    background-color: #4DA167;
}

.nav > a:nth-last-child(2), .nav > a:nth-last-child(1){
    position: relative;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.sia {
    position: absolute;
    right: 30px;
    top: 10px;
}

/**Newpost page*//
#NewPostForm {
    position: relative;
}

#NewPostForm > label > input, .multiline {
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: white;
    min-width: 100%;
    max-width: 100%;
}

.multiline {
    position: relative;
    min-height: 250px;
    width: 100%;
    border-radius: 0px;
    border: 2px solid #4E6E5D;
    padding: 15px;
    background-color: white;
    min-width: 100%;
    max-width: 100%;
}

.short {
    min-height: 100px;
}

.multiline:hover {
    border-color: #4DA167;
}

.multiline:focus {
    border-color: #0CCE6B;
}


/**SignUp Page**/
#RegForm, #LogForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

#RegForm > label, #RegForm > input, #LogForm > label, #LogForm > input {
    width: 200px;
    margin: 15px;
}

#RegForm > input, #LogForm > input {
    margin-top: 0px;
}

#RegForm > label, #LogForm > label {
    margin-bottom: 0px;
}

/*Single post page*/
.comText {
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
}

.comment, .post {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 1);
    border: solid rgba(0, 0, 0, .25) 2px;
}

.post {
    padding-bottom: 45px;
}

.postButCon {
    position: absolute;
    right: 15px;
}

.postButCon > .button {
    margin-left: 15px;
}

.button, input[type=submit] {
    padding: 10px;
    background-color: #4E6E5D;
    color: white;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 12pt;
    font-size: 12pt;
    min-height: 40px;
    font-family: sanserif;
    text-align: center;
}

.editBut {
    float: right;
    margin-top: 15px;
    padding: 10px;
    background-color: #4E6E5D;
    color: white;
    text-decoration: none;
}

.editBut:hover, .button:hover, input[type=submit]:hover {
    background-color: #4DA167;
}

.editBut:active, .button:active, input[type=submit]:active {
    background-color: #0CCE6B;
}

.comment > a:first-of-type {
    margin-left: 15px;
}