{% extends "base.html" %}

{% block content %}
<div class="blog-con">
{% for blog in blogs %}
    <div class="blog flex col col-1">
        {% if blog.image != None %}
        <img class="image col-1" src="{{ blog.image }}">
        {% endif %}
        <a class="no-link" href="/blog/{{blog.key().id()}}">
            <h3>{% if blog.project_cat != 'None' %}{{ blog.project_cat }} - {% endif %}{{ blog.title }}</h3>
        </a>
        <p class="title-info">Kyle Diggs - {{ blog.created.strftime('%m-%d-%Y') }}</p>
        <div class="flex row">
            <div class="content">{{ blog.content | safe }}</div>
            <div class="aside">{{ blog.aside | safe }}</div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}