{% extends "base.html" %}

{% block content %}
<div class="blog-con">
{% for blog in blogs %}
    <div class="blog flex col col-1">
        {% if blog.image != None %}
        <img class="image col-1" src="{{ blog.image }}">
        {% endif %}
        <div class="blog-title-con flex row col-1 no-wrap">
            <a class="no-link col-1" href="/blog/{{blog.key().id()}}">
                <h3>{% if blog.project_cat != 'None' %}{{ blog.project_cat }} - {% endif %}{{ blog.title }}</h3>
            </a>
            {% if username.lower() in admins %}
            <a class="button" href="/dashboard/blog/edit/{{ blog.key().id() }}">Edit</a>
            <a class="button" href="/dashboard/blog/delete/{{ blog.key().id() }}">Delete</a>
            {% endif %}
        </div>
        <p class="title-info">Kyle Diggs - {{ blog.created.strftime('%m-%d-%Y') }}</p>
        <div class="blog-body flex row">
            <div class="content">{{ blog.content | safe }}</div>
            <div class="aside">{{ blog.aside | safe }}
                <div class="blog-sub-con">
                    <h4>Subscribe!</h4>
                    <p>If you want to keep up to date with my blog posts fill out this form below!</p>
                    <br>
                    <form class="blog-sub col-1 flex col j-cntr algn-cntr" name="blog-sub" method="post">
                        <label class="flex col col-1 j-cntr algn-cntr">
                            <p>Email Address:</p>
                            <input name="email" type="email">
                        <label>
                        <input class="button t" type="submit" value="Submit"><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}