{% extends "base.html" %}

{% block content %}

<div class="title">
    <h5 class="title-side">Send to: Contact@KyleDiggs.com</h5>
    <h3 class="underline-div">Contact</h3>
</div>

<form class="conForm flex col no-wrap" name="contact" method="post">
    <label>Name</label>
    <input name="name" type="text">
    <label>Subject</label>
    <input name="subj" type="text">
    <label>Return email address</label>
    <input name="email" type="email">
    <label>Body</label>
    <textarea name="body" class="textarea-tall"></textarea>
    <input class="t button" type="submit" value="Send">
</form>
{% endblock %}