{% extends "base.html" %}

{% block content %}
<div class="dash col-1">
    <h1>Admin Dashboard</h1>
    <p>Welcome back, {{ name }}!</p>
    <p>What would you like to do today?</p>
    <br>
    <div class="flex row spc-btwn">
        <a class="t dash-but flex col" href="/dashboard/blog">
            <img src="/icons/LilPapers62.svg">
            Blog
        </a>
        <a class="t dash-but flex col" href="/dashboard/testimonials">
            <img src="/icons/LilPapers5.svg">
            Testimonials
        </a>
        <a class="t dash-but flex col" href="/dashboard/portfolio">
            <img src="/icons/LilPapers21.svg">
            Portfolio
        </a>
        <a class="t dash-but flex col" href="/dashboard/resume">
            <img src="/icons/LilPapers21.svg">
            Resume
        </a>
    </div>
</div>
{% endblock %}