<div class="language-con flex row">
    <img class="soft-icon" src="/images/python.png">
    <div class="language-info">
        <div class="head flex wrap">
            <p class="title">{{ cards.name }}</p>
            <p class="years">{{ cards.time }} Years</p>
        </div>
        <div class="labels flex spc-btwn">
            <p>Int</p>
            <p>Adv</p>
            <p>Exp</p>
        </div>
        <div class="exp-bar">
            <div class="exp" data-val="{{ cards.exp }}"></div>
        </div>
    </div>

</div>