{% extends "base.html" %}

{% block head %}
    {% if modal %}
        <style>
            .page {
                -webkit-animation: fly-in 300ms forwards;
                animation: fly-in 300ms forwards;
            }
        </style>
        <script
			  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
			  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
			  crossorigin="anonymous"></script>
        <script src="/js/lightbox.js" type="text/javascript"></script>
    {% endif %}
    <style media="screen and (max-width:700px)">
        .header > a:last-child {    
            margin-bottom: 60px;
        }
        .page {
            padding-bottom: 0;
        }
    </style>
{% endblock %}

{% block modal %}

{% endblock %}

{% block port %}
{% if modal %}
    {% if direction %}
        <div class="port-item constrain fly-in-{{ direction }} t">
    {% else %}
    <div class="port-item constrain fly-in t">
    {% endif %}
        <div class="infocon flex row nowrap">
            <img src="/images/{{modal.mainImage}}">
            <div class="info">
                <h3>{{modal.head}}</h3>
                <p>
                    Upload date: {{modal.created.strftime("%b %d, %Y")}}
                <p>
                <p>{{modal.sub}}</p>
            </div>
            <div class="flex row no-wrap port-buttons">
                <a class="cta t title-side" href="/portfolio/{{home}}?dir=up">X</a>
                {% if user %}
                    <a class="cta t title-side" href="{{port_id}}/delete">Delete</a>
                    <a class="cta t title-side" href="{{port_id}}/edit">Edit</a>
                {% endif %}
            </div>
        </div>
        <h3>Related images</h3>
        <div class="images flex row wrap spc-arnd">
        {% for item in modal.images %}
            <img class="lightbox-img" src="/images/{{item}}">
        {% endfor %}
        </div>
        {{modal.render_txt(modal.main) | safe}}
    </div>
{% elif "about" in page %}
<div class="intro flex col no-wrap">
    <img class="face round border" src="/images/picture.jpg"><br>
    <div>
        <h3>Kyle Diggs</h3>
        <p>Full-stack Web Development / Graphic Design / Production Printing</p>

        <p>With my experience in graphic and print design I can help you develop your business into a trustworthy and memorable brand. Welcome to my portfolio page! Here you can see some work done by me from a variety of different projects I have worked on across the design and print spectrum. Thank you for your consideration and welcome to my site! Any comments/discussions/feedback can be directed to my <a href="/contact">contact page</a>; where you will get a swift response! 
        <br><br>
        Talk soon!</p>
    </div>
</div>
{% elif "logo" in page %}
<div class="title">
    {% if user %}
        <a class="cta title-side" href="/portfolio/new">New</a>
    {% endif %}
    <h3>Logos</h3>
    <div class="portCon flex row wrap spc-btwn">
    {% for item in items %}
        <a href="/portfolio/logo/{{item.key().id()}}" class="portItem">
            <img src="/images/{{item.mainImage}}">
        </a>
    {% endfor %}
    </div>
</div>
{% elif "web" in page %}
<div class="title">
    {% if user %}
        <a class="cta title-side" href="/portfolio/new">New</a>
    {% endif %}
    <h3>Websites</h3>
    <!-- WHOOPS. Need to add each page into the system still -->
    <div class="portCon flex row wrap spc-btwn">
    {% for item in items %}
        <a href="/portfolio/web/{{item.key().id()}}" class="portItem">
            <img src="/images/{{item.mainImage}}">
        </a>
    {% endfor %}
    </div>
</div>
{% elif "print" in page %}
<div class="title">
    {% if user %}
        <a class="cta title-side" href="/portfolio/new">New</a>
    {% endif %}
    <h3>Print Work</h3>
    <div class="portCon flex row wrap spc-btwn">
    {% for item in items %}
        <a href="/portfolio/print/{{item.key().id()}}" class="portItem">
            <img src="/images/{{item.mainImage}}">
        </a>
    {% endfor %}
    </div>
</div>
{% elif "graphics" in page %}
<div class="title">
    {% if user %}
        <a class="cta title-side" href="/portfolio/new">New</a>
    {% endif %}
    <h3>Graphics</h3>
    <div class="portCon flex row wrap spc-btwn">
    {% for item in items %}
        <a href="/portfolio/graphics/{{item.key().id()}}" class="portItem">
            <img src="/images/{{item.mainImage}}">
        </a>
    {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}