{% extends "base.html" %}

{% block content %}
<h3 class="underline-div">Rates</h3>
<p>All rates are non-negotiable. Project pricing is based off of estimated time, importance, and estimated ROI.</p>
<div class="pricing-con flex no-wrap spc-arnd">
    <div class="pricing fancyShadow txt-cntr algn-cntr pricing flex col">
        <h4>Web Development</h4>
        <h1 class="huge">$35/hr</h1>
        <p>I am currently <span class="good">available</span> and looking for</p>
        <div>
            <p>ongoing</p>
            <p>part-time</p>
            <p>full-time</p>
        </div>
        <p>positions as a <span class="good">Full-stack Web Developer</span> using</p>
        <div class="icon-con flex row wrap spc-arnd">
            <img class="soft-icon" src="/images/appengine.png">
            <img class="soft-icon" src="/images/Brackets.png">
            <img class="soft-icon" src="/images/python.png">
            <img class="soft-icon" src="/images/html5.png">
            <img class="soft-icon" src="/images/css3.png">
            <img class="soft-icon" src="/images/js.png">
            <img class="soft-icon" src="/images/jquery.png">
            <img class="whiteback soft-icon" src="/images/jinja.png">
            <img class="soft-icon" src="/images/rwd.png">
        </div>
    </div>
    <div class="pricing fancyShadow txt-cntr algn-cntr pricing flex col">
        <h4>Graphic Design</h4>
        <h1 class="huge">$25/hr</h1>
        <p>I am currently <span class="good">available</span> and looking for</p>
        <div>
            <p>ongoing</p>
        </div>
        <p>positions as a <span class="good">Graphic Designer</span> using</p>
        <div class="icon-con flex row wrap spc-arnd">
            <img class="soft-icon" src="/images/Ai.png">
            <img class="soft-icon" src="/images/Ps.png">
        </div>
    </div>
</div>     
{% endblock %}