{% extends "base.html" %}

{% block head %}
<script
          src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
          integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
          crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/main.js"></script>
<style>
    #Modal-Con {
        display: none;    
    }
</style>
{% endblock %}

{% block modal %}
{% if direction %}
<div class="t modal">
{% else %}
<div class="t modal">
{% endif %}
    <form id="Form" class="testimonial-form flex wrap spc-btwn" name="testimonial" method="post">
        <div class="col-1">
            <div id="CloseBut" class="cta modal-cta">X</div>
            <h3 class="col-1">New Testimonial</h3>
            {% if error %}
            <div class="error">
                <img style="width: 30p; height: 30px;" src="/icons/circle-exclamation-mark.png">
                <p>{{ error }}</p>
            </div>
            {% endif %}
        </div>
        <div class="flex col no-wrap col-2 rp">
            <label>Name:</label>
            <input name="name" 
                   type="text" 
                   placeholder="Enter your name" 
                   value="{{ name }}">
            <label>Email Address:</label>
            <input name="email" 
                   type="email" 
                   placeholder="Email required for verification" 
                   value="{{ email }}">
        </div>
        <div class="flex col no-wrap col-2 lp">
            <label>Company/Project Name:</label>
            <input name="project" 
                   type="text" 
                   placeholder="Enter company or project name"
                   value="{{ project }}">
            <label>Rating:</label>
            <input name="rating" 
                   type="text" 
                   placeholder="Rating from 0-5"
                   value="{{ rating }}">
        </div>
        <label>Testimonial:</label>
        <textarea name="body" 
                  class="col-1 textarea-med" 
                  placeholder="Enter your review here">{{ body }}</textarea>
        <input id="SubBut" class="t button" type="button" value="Submit">
    </form>
</div>
{% endblock %}

{% block content %}
<h3>Rates</h3>
<p>All rates are non-negotiable. Project pricing is based off of estimated time, importance, and estimated ROI.</p>
<div class="pricing-con flex no-wrap spc-arnd">
    <div class="pricing fancyShadow txt-cntr algn-cntr pricing flex col">
        <h4>Web Development</h4>
        <h1 class="huge">$35/hr</h1>
        <p>I am currently <span class="good">available</span> and looking for</p>
        <div>
            <p>ongoing</p>
            <p>part-time</p>
            <p>full-time</p>
        </div>
        <p>positions as a <span class="good">Full-stack Web Developer</span> using</p>
        <div class="icon-con flex row wrap spc-arnd">
            <img class="soft-icon" src="/images/appengine.png">
            <img class="soft-icon" src="/images/Brackets.png">
            <img class="soft-icon" src="/images/python.png">
            <img class="soft-icon" src="/images/html5.png">
            <img class="soft-icon" src="/images/css3.png">
            <img class="soft-icon" src="/images/js.png">
            <img class="soft-icon" src="/images/jquery.png">
            <img class="whiteback soft-icon" src="/images/jinja.png">
            <img class="soft-icon" src="/images/rwd.png">
        </div>
    </div>
    <div class="pricing fancyShadow txt-cntr algn-cntr pricing flex col">
        <h4>Graphic Design</h4>
        <h1 class="huge">$25/hr</h1>
        <p>I am currently <span class="good">available</span> and looking for</p>
        <div>
            <p>ongoing</p>
        </div>
        <p>positions as a <span class="good">Graphic Designer</span> using</p>
        <div class="icon-con flex row wrap spc-arnd">
            <img class="soft-icon" src="/images/Ai.png">
            <img class="soft-icon" src="/images/Ps.png">
        </div>
    </div>
</div>
<div class="testimonial-con">
    <a href="#Modal-Con" id="AddBut" class="cta title-side">Add</a>
    <h3>Testimonials</h3>
    <p>The comprehensive list shown below shows every verified review; good or bad. Press the arrow to the right to toggle the Testimonial form if you'd like to leave a review! Any reviews will be rewarded with a discount code for future orders!</p>
    {% for item in testimonials %}
    <div data-verified="{{ item.verified }}" class="test-con flex row algn-cntr">
        <img class="image" src="/images/{{ item.image }}">
        <a href="{{ item.link }}" class="review-con">
            <h3>{{ item.company }}</h3>
            <p>"{{ item.review }}"</p>
            <p>- {{ item.name }} - {{ item.rating }}/5</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}