{% extends "base.html" %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/print.css" media="print">
<style>
    .page {
        padding: 0px;
    }
</style>
{% endblock %}

{% block content %}
<div class="resume constrain">
    <div class="c1">
        <img class="face round border" src="/images/picture.jpg"><br>
        <p>Contact@KyleDiggs.com<br>
        Fullerton, CA</p>
        <br><br>
        <span class="left-align">
            <div class="res-abt-sec">
                <h3 class="underline-div">About</h3>
                <p>Hi there! I am a very self motivated problem solver with a strong history in creative development. I am a self-taught Developer/Designer with a strong eye for detail and clean layouts.</p><br>
            </div>
            <div class="res-abt-sec">
                <h3 class="underline-div">Hobbies</h3>
                <p>In my freetime I am either working on personal programming projects or playing around with new design schemes or layouts. Design and Development are two passions of mine that fill my time even when I'm not working.</p><br>
            </div>
            <div class="res-abt-sec">
                <h3 class="underline-div">Education</h3>
                <p>I am currenlty pursuing a degree through Udacity for full stack web development. My Udacity project portfolio can be found <a target="_blank" href="https://profiles.udacity.com/u/kylediggs">here</a>.</p><br>
            </div>
            <div class="res-abt-sec">
                <h3 class="underline-div">Software</h3>
                <div class="icon-con flex row wrap spc-btwn">
                    <img class="soft-icon" src="/images/Brackets.png">
                    <img class="soft-icon" src="/images/Ai.png">
                    <img class="soft-icon" src="/images/Ps.png">
                    <img class="soft-icon" src="/images/webflow.png">
                    <img class="soft-icon" src="/images/appengine.png">
                </div>
            </div>
            <div class="res-abt-sec">
                <h3 class="underline-div">Languages</h3>
                <div class="icon-con flex row wrap spc-btwn">
                    <img class="soft-icon" src="/images/python.png">
                    <img class="soft-icon" src="/images/html5.png">
                    <img class="soft-icon" src="/images/css3.png">
                    <img class="soft-icon" src="/images/js.png">
                    <img class="soft-icon" src="/images/jquery.png">
                    <img class="whiteback soft-icon" src="/images/jinja.png">
                    <img class="soft-icon" src="/images/rwd.png">
                </div>
            </div>
        </span>
    </div>
    <div class="c2 left-align">
        <h2>Work Experience</h2>
        <h3>Graphic Design</h3>
        <div class="indent">
            <h4>Kyle Diggs Design</h4>
            <a href="http://www.KyleDiggs.com/">http://www.KyleDiggs.com/</a>
            <p>- Started my own freelance business in my sophomore year of high school and continue to pursue it to this day
            <br>- Gained immeasurable experience in Logo Design, Graphic Design, and Web Design with over 7 years of freelance work in many design focused fields</p>
            
            <h4>Graphic Design Internship - Anthony Cioffi Design</h4>
            <p>Stayed for the full length of the Internship (9 Months)</p>

            <p>- A Graphic Design internship beneath Anthony Cioffi
            <br>- Put in hundreds of hours of design work and lessons with harsh critiquing
            <br>- Worked on projects alongside Mr.Cioffi from start to finish
            <br>- Designed and created 50+ assets to be used for production and sales
            <br>- Became completely fluent in Illustrator</p>
        </div>
        
        <h3>Web Development</h3>
        <div class="indent">
            <h4>Evassive Motorsports</h4>
            <p>Stayed for the full length of the Internship (3 Months) and then chose not to extend</p>
            <a href="http://www.evassivemotorsports.com/">
                http://www.evasivemotorsports.com/</a>

            <p>- Updated old Flash elements from 2005 to be standards compliant CSS3 and HTML5 for 2015
            <br>- Used CSS animations extensively to make a static website more modern and dynamic
            <br>- Worked to update a static Miva based eCommerce website to be fully responsive
            <br>- Gained a lot of experience in a production website environment</p>

            <h4>Personal Web Development</h4>
            <p>Designed, developed, and published my own responsive and dynamic website for Freelance work</p>
            <a href="http://www.KyleDiggs.com/">http://www.KyleDiggs.com/</a>

            <p>- Started from scratch multiple times until I had developed the skills to make what I envisioned
            <br>- Became fluent with Media Queries, HTML5, CSS3, JQuery, JavaScript, JINJA templates, Google App engine, Python, and custom CMS solutions using the db.model/SQL.</p>

            <h4>RedVelvet.css</h4>
            <p>A passion project of mine that I continue to develop and work towards today</p>
            <a href="http://www.KyleDiggs.com/RedVelvet">http://www.KyleDiggs.com/RedVelvet</a>

            <p>- An open sourced CSS animation library meant to simplify the animation process while still allowing developers the freedom to have personalized settings without having to do any code
            <br>- A true plug-n-play library aimed directly at web developers. Simple but incredibly robust.
            <br>- Learned how to develop an expanding system without heavy coding</p>
        </div>
    </div>
</div>
{% endblock %}