{% extends "base.html" %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/print.css" media="print">
<style>
    .page {
        padding: 0px;
    }
</style>
<style>
    .port {
        padding-bottom: 0 !important;   
    }
</style>
{% endblock %}

{% block content %}
<div class="resume">
    <div class="res-abt-sec underline-div">
        <div class="resume-nav flex row">
            <h1>Kyle Diggs</h1>
            <div class="icon-link-con flex row no-wrap">
                <a class="icon-link" data-handle="/Kyle772" href="https://github.com/Kyle772">
                    <img src="/icons/github.svg">
                </a>
                <a class="icon-link" data-handle="/in/kylediggs" href="https://www.linkedin.com/in/kylediggs/">
                    <img src="/icons/linkedin.svg">
                </a>
                <a class="icon-link" data-handle="Udacity" href="https://profiles.udacity.com/p/3554168574">
                    <img src="/icons/udacity.svg">
                </a>
                <a class="icon-link" data-handle="Portfolio" href="http://www.KyleDiggs.com/">
                    <img src="/icons/portfolio.svg">
                </a>
            </div>
        </div>
        <p>Full-stack Web Developer<br>
        Contact@KyleDiggs.com<br>
        Fullerton, CA<br></p>
    </div>
    <div class="c1">
        <div class="res-abt-sec">
            <h3 class="underline-div">About</h3>
            <p>Hi there! I am a very self motivated problem solver with a history in creative development. I am a self-taught Developer/Designer with a strong eye for detail and clean layouts.</p>
        </div>
        <div class="res-abt-sec">
            <h3 class="underline-div">Education</h3>
            <p>Udacity - Full-Stack Web Development NanoDegree - <a target="_blank" href="https://profiles.udacity.com/u/kylediggs">Udacity portfolio</a>.</p>
        </div>
        <div class="res-abt-sec">
            <h3 class="underline-div">Software</h3>
            <div class="icon-con flex row wrap spc-btwn">
                <img class="soft-icon" src="/images/Brackets.png">
                <img class="soft-icon" src="/images/Ai.png">
                <img class="soft-icon" src="/images/Ps.png">
                <img class="soft-icon" src="/images/webflow.png">
                <img class="soft-icon" src="/images/appengine.png">
            </div>
        </div>
        <div class="res-abt-sec">
            <h3 class="underline-div">Languages</h3><a class="title-side" href="https://hr.od.nih.gov/workingatnih/competencies/proficiencyscale.htm">(key)</a>
            <div class="icon-con flex col no-wrap spc-btwn">
                <div class="language-con flex row">
                    <img class="soft-icon" src="/images/python.png">
                    <div class="language-info">
                        <div class="head flex wrap">
                            <p class="title">Python</p>
                            <p class="years">5 Yrs</p>
                        </div>
                        <div class="labels flex spc-btwn">
                            <p>Int</p>
                            <p>Adv</p>
                            <p>Exp</p>
                        </div>
                        <div class="exp-bar">
                            <div class="exp" data-val="3"></div>
                        </div>
                    </div>
                </div>
                
                <div class="language-con flex row">
                    <img class="soft-icon" src="/images/html5.png">
                    <div class="language-info">
                        <div class="head flex wrap">
                            <p class="title">HTML5</p>
                            <p class="years">3 Yrs</p>
                        </div>
                        <div class="labels flex spc-btwn">
                            <p>Int</p>
                            <p>Adv</p>
                            <p>Exp</p>
                        </div>
                        <div class="exp-bar">
                            <div class="exp" data-val="2"></div>
                        </div>
                    </div>
                </div>
                
                <div class="language-con flex row">
                    <img class="soft-icon" src="/images/css3.png">
                    <div class="language-info">
                        <div class="head flex wrap">
                            <p class="title">CSS3</p>
                            <p class="years">4 Yrs</p>
                        </div>
                        <div class="labels flex spc-btwn">
                            <p>Int</p>
                            <p>Adv</p>
                            <p>Exp</p>
                        </div>
                        <div class="exp-bar">
                            <div class="exp" data-val="3"></div>
                        </div>
                    </div>
                </div>
                
                <div class="language-con flex row">
                    <img class="soft-icon" src="/images/jquery.png">
                    <div class="language-info">
                        <div class="head flex wrap">
                            <p class="title">JS / JQuery</p>
                            <p class="years">3 Yrs</p>
                        </div>
                        <div class="labels flex spc-btwn">
                            <p>Int</p>
                            <p>Adv</p>
                            <p>Exp</p>
                        </div>
                        <div class="exp-bar">
                            <div class="exp" data-val="2"></div>
                        </div>
                    </div>
                </div>
                
                <div class="language-con flex row">
                    <img class="whiteback soft-icon" src="/images/jinja.png">
                    <div class="language-info">
                        <div class="head flex wrap">
                            <p class="title">Jinja2</p>
                            <p class="years">1 Yrs</p>
                        </div>
                        <div class="labels flex spc-btwn">
                            <p>Int</p>
                            <p>Adv</p>
                            <p>Exp</p>
                        </div>
                        <div class="exp-bar">
                            <div class="exp" data-val="2"></div>
                        </div>
                    </div>
                </div>
                
                <div class="language-con flex row">
                    <img class="soft-icon" src="/images/rwd.png">
                    <div class="language-info">
                        <div class="head flex wrap">
                            <p class="title">Responsive Dev</p>
                            <p class="years">4 Yrs</p>
                        </div>
                        <div class="labels flex spc-btwn">
                            <p>Int</p>
                            <p>Adv</p>
                            <p>Exp</p>
                        </div>
                        <div class="exp-bar">
                            <div class="exp" data-val="3"></div>
                        </div>
                    </div>
                </div>
                
                <div class="language-con flex row">
                    <img class="soft-icon" src="/images/sql.png">
                    <div class="language-info">
                        <div class="head flex wrap">
                            <p class="title">SQL</p>
                            <p class="years">1 Yrs</p>
                        </div>
                        <div class="labels flex spc-btwn">
                            <p>Int</p>
                            <p>Adv</p>
                            <p>Exp</p>
                        </div>
                        <div class="exp-bar">
                            <div class="exp" data-val="1"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div><br><br>
    <div class="c2">
        <h3>Work Experience - Web Development</h3>
        <div class="">
            <h5>Evasive Motorsports - Contract Web Development work - (Aug 2015 - Present)</h5>
            <p>Stayed for the full length of initial projects and then chose not to stay as an employee. Still do occasional contract labor for them.</p>
            <a href="http://www.evasivemotorsports.com/">
                EvasiveMotorsports.com</a>
            -
            <a href="http://www.kylediggs.com/portfolio/web/5668600916475904">Portfolio breakdown</a>

            <p>- Updated old Flash elements from 2005 to be standards compliant CSS3 and HTML5 for 2015
            <br>- Used CSS animations extensively to make a static website more modern and dynamic
            <br>- Worked to update a static Miva based eCommerce website to be fully responsive
            <br>- Shredded a whopping 4 seconds off of front page load time.</p>

            <h5>KyleDiggs.com - Designer / Developer / Large Format Printer - (Jan 2012 - Present)</h5>
            <p>Designed, developed, and published my own responsive and dynamic website for Freelance work</p>
            <a href="http://www.KyleDiggs.com/">KyleDiggs.com</a>
            <p>
                <br>- Started my own freelance business in my sophomore year of high school and continue to pursue it to this day
                <br>- Became fluent with Media Queries, HTML5, CSS3, JQuery, JavaScript, JINJA templates, Google App engine, Python, and custom CMS solutions using the db.model/SQL.
                <br>- Gained immeasurable experience in Logo Design, Graphic Design, and Web Design with over 5 years of freelance work in many design focused fields
                <br>- Worked with roughly 30 unique clients for projects from start to finish with both ongoing and one-off jobs.
            </p>
        </div>
        <h3 class="p-page">Work Experience - Graphic Design</h3>
        <div class="">
            <h5>Graphic Design Internship - Anthony Cioffi Design - (Aug 2013 - July 2014)</h5>
            <p>Stayed for the full length of the Internship</p>

            <p>- A Graphic Design internship beneath Anthony Cioffi
            <br>- Put in hundreds of hours of design work and lessons with harsh critiquing
            <br>- Worked on projects alongside Mr.Cioffi from start to finish
            <br>- Designed and created 50+ assets to be used for production and sales
            <br>- Became completely fluent in Illustrator</p>
        </div>
        <br>
        <h3>Projects</h3>
        <p>These are a few projects of mine that I am working on at the moment that incorperate aspects of both front and back end technologies.</p>
        <div class="projects flex row wrap spc-btwn col-1">
            <div class="rec-card">
                <h4>RedVelvet.css</h4>
                <p>A passion project of mine that allowed me to get extensive practice in CSS Animations</p>

                <p>- Developed a set of animations, functions, and python scripts to generate curves, animations, and easily editable CSS classes
                <br>- Learned how to develop an expanding system without heavy coding</p>
            </div>
            <div class="rec-card">
                <a href="http://kylediggs.webflow.io/bloks/flexbox">
                    <h4>Bloks.css</h4>
                </a>
                <p>An interactive webapp for practicing new we technologies.</p>

                <p>- Made an interactive app of sorts to help people get an understanding of CSS flexbox when it initially came out.</p>
                <p>- Used JavaScript/JQuery to develop a dynamic layout using regular form elements.</p>
            </div>
            <div class="rec-card">
                <a href="http://kylediggs.webflow.io/daily-ui">
                    <h4>Daily-UI Elements</h4>
                </a>
                <p>A playground of sorts for me to build inspired UI elements. Typically these are one-day projects that pop in my head in the moment.</p>
                <p>- Got some solid experience with desigining UI elements and making custom Javascript/JQuery elements that looks production ready.</p>
            </div>
            <div class="rec-card">
                <a href="https://leafexchange-161718.appspot.com/">
                    <h4>Leaf Exchange</h4>
                </a>
                <p>
                    Leaf exchange is a web app that matches up succulent owners to exchange their leaf propogations. This combines two hobbies of mine (web development and succulent raising) and allows other people to get more involved with the succulent community. 
                    <p>- Built using Google App Engine, Python, and SQL</p>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}